@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right ,#000308,#243B55);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* html.no-scroll, body.no-scroll {
    overflow: hidden ;
} */
main {
  overflow-x: hidden;
  height: 90vh;
}
.home_background {
  /* position: fixed;
  top: 0;
  left: 0; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  z-index: -2;
  > video {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}
.home-content {
  width: 60vw;
  padding-top: 34vh;
  margin-left: 10vw;
  > h1 {
    font-size: 100px;
  }
}



@media (max-width: 540px) {
  main {
  height: 70vh;
}
.home_background{
  height: 95vh;
}
  .home-content {
    width: 90%;
    padding-top: 30vh;
    > h1 {
      font-size: 60px;
    }
  }

}

nav {
  > div:first-child > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  > div:nth-of-type(2) {
    
    display: flex;
    width: 800px;
    justify-content: space-between;
    > div > a {
      margin-left: 50px;
      font-size: 20px;
      text-decoration: none;
      color: white;
    }
  }
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  > div:last-child {
    display: none;
    color: white;
    font-size: 30px;
  }
}

@media (max-width: 540px) {
  nav {
    > div:last-child {
      display: contents;
    }
    > div:nth-of-type(2) {
      position: fixed;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      margin-top: 10vh;
      top: 0;
      left: 0;
      width: 100%;
      justify-content: start;
      height: 90vh;
      backdrop-filter: blur(10px); 
      z-index: 999;
      transform: translateX(100%);
      opacity:0 ;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    }
  }

  .nav.active {
    transform: translateX(0%);
    opacity: 1;
    
    visibility: visible;
    
    pointer-events: auto;
  }
  .nav-content {
    display: flex;
    flex-direction: column;
    > a {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
  .login {
    padding-top: 20px;
    > a {
      padding-top: 30px;
    }
  }
}



.blog {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h3 {
    text-align: center;
  }
}

.blogworkout_plan {
  width: 90%;
  height: 90vh;
  display: grid;
  grid-template-areas: "blog_content blog_img";
  grid-template-columns: 40% 60%;
  background: #F6F3ED;
  padding: 20px;
  border-radius: 20px
}
.blog_content {
  width: 100%;
  grid-area: blog_content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  > h2 {
    font-size: 50px;
    color: coral;
  }
  > p {
    padding: 10px 0 10px 0;
    font-size: 20px;
  }
  > a {
    display: flex;
    text-decoration: none;
    >h5{
      color: blue;
    }
  svg {
    margin-left: 50px;
    position: absolute;
    width: 24px;
    fill: blue;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    :hover{
      fill:rgb(0, 123, 255);
    }
  } 
  :hover{
    color: rgb(0, 123, 255);
  }
  }
}

.blog_card {
  width: 100%;
  height: 100%;
  grid-area: blog_img;    
  display: grid;
  grid-template-areas: 'card_1 card_2''card_1 card_3';
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.img_card {
  width: 250px;
  height: 269px;
  border-radius: 10px;
}
.card_1 {
  grid-area: card_1;
  width: 350px;
  height: 100%;
}
.card_2 {
  grid-area: card_2;
}
.card_3 {
  grid-area: card_3;
}
.card_4 {
  grid-area: card_4;
}

@media (max-width: 540px) {
  .blog {
    height: auto;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  .blogworkout_plan {
    height: 77vh;
    grid-template-areas:"blog_content" "blog_img" ;
    grid-template-columns: 100%; 
    grid-template-rows: 30% 70%;
    padding: 20px;
  }
  .blog_content {
    justify-content: flex-start;
    width: 100%;
    padding-left: 0%;
    > h2 {
      font-size: 30px;
    }
    >p{
      padding: 0 0 0 0;
    }
  }
  .blog_card {
    gap: 10px;
  }
  .img_card {
    width: 130px;
    height: 160px;
  }
  .card_1{
    width: 300px;
    height: 100%;
  }
}
.home-body{
}
.home-body::before{
  overflow: hidden;
  background-image: linear-gradient(to right ,#020b1b,#1b2c3f);
  filter: blur(26px);
  top: 90vh;
  background-color: #ffffff;
  content: "";
  position: absolute;
  width: 100%;
  height: 20vh;
  z-index: -1;
}

@media (max-width:540px){
  .home-body::before{
    overflow: hidden;
  top: 90vh;
  height: 15vh;
  }
}

.choose-us {
  z-index: 2;
  height: auto;
  width: 100%;
  /* background-color: rgb(18, 15, 41);
  background-image: linear-gradient(to bottom right ,#000308,#243B55); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  > h3 {
    padding: 20px;
    text-align: center;
  }
  > section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.plan_content {
  width: 450px;
  height: 400px;
  padding: 20px;
  background: linear-gradient(to bottom right,#236467,#427A82);
backdrop-filter: blur(8px);
border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0.5;
  border-radius: 20px;
  /* background-image: linear-gradient(to bottom right ,#265d94,#5387cf); */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h4 {
    padding: 20px 0 20px 0;
  }
  >p{
    color: #e2e2e2;
  }
}

@media (max-width: 540px) {
  .choose-us {
    justify-content: center;
    padding: 10px;
    > section {
      width: 100%;
    }
  }
  .plan_content {
    width: 600px;
  }
}


.choosee {
  z-index: 2;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: rgba(35, 34, 34, 0.08);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h3 {
    padding: 30px;
    text-align: center;
    color: #ffffff;
  }
}
.card-stack-container-wrapper {
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 50px;
  perspective: 1200px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.plan_card {
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  
  > h4 {
    padding: 20px 0 20px 0;
  }
}

.top-card {
    background: linear-gradient(to bottom right,#236467,#427A82);
  color: #fff;
  cursor: default;
  opacity: 1;
  filter: none;
}

.top-card .img,
.top-card p,
.top-card h4 {
  opacity: 1;
  pointer-events: auto;
}

.plan_card:not(.top-card) {
  cursor: pointer;
}
.plan_card:not(.top-card) p,
.plan_card:not(.top-card) .img,
.plan_card:not(.top-card) h4 {
  opacity: 0;
  pointer-events: none;
}

.carousel-nav {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.carousel-nav li {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
}
.carousel-nav li:hover {
  color: white;
  background-color: #ff8c00;
}


@media (max-width:540px){
  .choose-us{
    display: none;
  }
  .choosee{
    height: 80vh;
    display: flex;
  }
}


.class{
  width: 100%;
  height: 100vh;
  color: white;
  >h2{
    padding: 20px;
  }
}

.class_want{
  margin: 10px;
  text-align: center;
  >div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    transition: transform 0.6s ease-in-out;
    :hover{
      transform: scale(1.01);
    }
  >a{
    background:#C2CBD3;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    >h3{
      padding-top: 20px;
    }

  >img{
    width: 360px;
    height: 400px;
  }
}
}
}

@media (max-width:540px){
  .class{
    height: auto;
  }
  .class_want{
    >div{
      flex-direction: column;
      >a{
        width:90%;
      >img{
        height: 200px;
        width: 200px;
      }
    }
    }
  }
}

.workout{
  background-color: #BDBDBD;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  >h2{
    text-align: center;
    background-color: white;
      padding: 20px;
      position: sticky;
      top: 0;
  }
  >div{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }
}

.training{
  background-color: white;
  width: 350px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  >img{
    width: 200px;
    height: 200px;
  }
}

@media (max-width:540px){
  .training{
    width: 90%;
  }
}

.workout_class{
  background-color: #BDBDBD;
  width: 100%;
  height:auto;
  padding-bottom: 10px;
  >h2{
    text-align: center;
    background-color: white;
      padding: 20px;
      position: sticky;
      top: 0;
  }
  >div{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.training_class{
  background-color: white;
  width: 350px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  >img{
    width: 150px;
    height: 150px;
  }
  >ul>p{
    font-size: 17px;
  }
}

@media (max-width:540px){
  .workout_class{
    
    height: auto;
    
  }
  .training_class{
    background-color: white;
    flex-direction: row;
    width:100% ;
    height: 200px;
    gap: 0px;
    font-size: 12px;
    justify-content: flex-start;
    >img{
      width: 70px;
      height: 70px;
    }
  }
}

.training.active{
  display: none;
}